/....py
/.DS_Store
/.idea
/.vscode
/1%2 + 3%2.py
/Anaconda3-2023.09-0-MacOSX-arm64.pkg
/StarterFiles.zip
/Untitled-1
/a
/ads.py
/b
/beautifulsoup4-4.12.0
/beautifulsoup4-4.12.0.tar.gz
/bmrcalculator.py
/cash.py
/chocolateisallineed.py
/color pick game.py
/def drawSquare(myTurtle, squareSize):.py
/dictionaries have a key and a value, a l
/drawing.py
/evenwords
/exam2 review
/feaf 2.pdf
/final exam python
/final exam review
/forloop.py
/goes backwards l:[::-1]
/hangamn
/hawaiian pronnounciation
/hello.py
/hello2.py
/hurricanetracker
/idk.py
/irma.py
/isssi
/japanize date
/lab 6: mario, cash credit
/labs 4 and 5 for loops
/madlib.py
/makeusername.py
/manyhellos.py
/mario.py
/messy.py
/mo.py
/number guessing game.py
/number.py
/numebrofvowels.py
/pig
/pope.py
/proposal.md
/question 1
/requests-2.31.0
/requests-2.31.0.tar.gz
/secondstohours.py
/temperature.py
/testing2.py
/venv
/word prediction.py